@using MyEvernote.Entities
@using MyEvernote.BusinessLayer



@{

    CategoryManager categoryManager = new CategoryManager();
    List<Category> categoryList = categoryManager.List();

}

<p class="lead">Tümü</p>
<div class="list-group">

    <a href="/Home/Index/"  class="list-group-item" ><span class="glyphicon glyphicon-arrow-right"></span>Tümü</a>
    @foreach (var category in categoryList)
    {


        <a href="/Home/Select/@category.Id" title="@category.Description" class="list-group-item">@category.Title</a>}
</div>
