
@using MyEvernote.Entities.ValueObject
@model LoginViewModel



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<br /> <br />
<p>@ViewBag.data</p>
<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">


            <br />
            @using (Html.BeginForm("Login", "Home"))
            {
@Html.ValidationSummary(false)// validation mesajlarını göstermek için kullandık.

<div class="form-group">
    <label for="username" class="text-white">Kullanıcı Adı:</label><br>
    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Kullanıcı" })
</div>
                <div class="form-group">
                    <label for="password" class="text-white">Şifre:</label><br>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Şifreniz", type = "password" })

                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>}

        </div>
    </div>
</div>
<script>
    $(function () {

        $("nav").hide();
    });
</script>
