
@{
    ViewBag.Title = "RegisterOk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h2>RegisterOk</h2>
<p> Lütfen Aktivaston Yapınız.</p>
<script>
    $(function () {

        setTimeout(function () {

            window.location = "/Home/Index";
        }, 3000);

    });



</script>
